<header>
  <div class="temp_menu">
    <%= link_to image_tag('plus.png'), new_task_path %>
    <h1><%= @task.title %></h1>
    <%= image_tag "dust.png" %>
  </div>
</header>
<div style="width: 300px;">
  <%= form_for(@task) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, size: 20 %>
  </div>
  <div>
    <%= f.label :week %>
    <%= f.select :week, [["月", "0"], ["火", "1"],["水", "2"],["木", "3"],["金", "4"],["土", "5"],["日", "6"]],  :prompt => "選択してください" %>
  </div>
  <div>
  	<%= f.label :time %>
    <%= f.time_select :time %>
  </div>
    <%= f.submit 'Submit' %>
  <% end %>
</div>
<p><%= link_to '一覧に戻る', tasks_url %></p>
