<header>
  <div class="temp_menu">
    <div class="return_img">
    <%= link_to image_tag('return.png'), week_list_path(params[:week]) %>
    </div>
    <h1>新規</h1>
  </div>
</header>

<div class="new_box">
    <%= form_for(@task) do |f| %>
    <div>
      <%= f.text_field :title, size: 20 ,style: "border: 1px solid lightgray; text-align: center; background-color: white;"%>
    </div>
<!--     <div>
      <%= f.label :week %>
      <%= f.select :week, [["月", "1"], ["火", "2"],["水", "3"],["木", "4"],["金", "5"],["土", "6"],["日", "0"]],  :selected => params[:week] %>
    </div> -->
    <%= f.hidden_field :week, :value => params[:week] %>
    <div>
      <%= f.time_select :time %>
    </div>
      <%= link_to 'cancel',week_list_path(params[:week]) %>
      <%= f.submit 'save'%>
    <% end %>
</div>