<header>
  <div class="temp_menu">
    <%= link_to image_tag('plus.png'), new_task_path %>
    <h1><%= @task.title %></h1>
    <%= image_tag "dust.png" %>
  </div>
</header>
<table>
    <td><%= @task.title %></td>
  </tr>
  <tr>
  	<th>Time</th>
    <td><%= @task.time %></td>
  </tr>
<!--   <tr>
    <th>User.Email</th>
    <td><%= @task.user.email %></td>
  </tr> -->
</table>
<p><%= link_to '一覧に戻る', tasks_url %></p>