<!DOCTYPE html>
<html>
  <header>
    <title>MTimer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </header>

  <body>
    <nav>
      <% if user_signed_in? %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'サインアップ', new_user_registration_path %>
        <%= link_to 'ログイン', new_user_session_path %>
      <% end %>
      <% if user_signed_in? %>
      username : <%= current_user.username %>さん
      <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
  <footer>
    <div class="menu_icon">
      <%= image_tag "alarm.png" %>
      <%= image_tag "day.png" %>
      <%= image_tag "temp.png" %>
      <%= image_tag "geer.png" %>
    </div>
  </footer>
</html>