<!DOCTYPE html>
<html>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <head>
    <title>Monager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="<%=image_path("icon_app.png")%>" />
  </head>
  <body>
    <%= audio_tag("sound.mp3",id:"audio") %>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>

  <% if user_signed_in? %>
    <footer>
      <div class="foot_icon">
        <span class="alarm_load"><%= link_to image_tag('alarm.png'), tasks_alarm_path %></span>
        <%= link_to image_tag('day.png'), tasks_day_path %>
        <%= link_to image_tag('temp.png'), tasks_week_path %>
        <%= link_to image_tag('geer.png'), tasks_cfg_path %>
      </div>
    </footer>
  <% end %>
</html>